* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

#container {
  width: 100%;
  margin: auto;
}


.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: 6rem;
}

.shine {
  text-align: center;
  font-size: 70px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0);
  background-size: 200% 100%;
  transition: 1.3s;
  cursor: pointer;
  background-clip: text;
  background-image: linear-gradient(-80deg,
      transparent 0,
      transparent 5%,
      rgba(0, 255, 251, 0.884),
      rgba(0, 255, 251, 0.986),
      transparent 10%,
      transparent 100%);
}

.shine:hover {
  background-position: -140% 0;
}

nav {
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 2.9rem;
  position: fixed;
  z-index: 500;
  border-bottom: 3px solid #D0021B;
  height: 100px;
  opacity: 0.9;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5rem;
  /* 5px */
  padding-right: .5rem;
}


.nav-item {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1em;
  width: 10em;
  text-align: center;
  height: 4em;
  line-height: 1.5;
}

.nav-item:last-child::after {
  content: "";
  position: absolute;
  left: -12em;
  bottom: 5;
  background: transparent;
  height: .3em;
  width: 10em;
  border-radius: 4px;
  transition: left .5s ease-in-out;
  opacity: 1;
}

.nav-item:nth-child(1):hover~.nav-item:last-child::after {
  left: -30em;
  background: #D0021B;
}

.nav-item:nth-child(2):hover~.nav-item:last-child::after {
  left: -20em;
  background: #E44D26;
}

.nav-item:nth-child(3):hover~.nav-item:last-child::after {
  left: -10em;
  background: #264DE4;
}

.nav-item:nth-child(4):hover~.nav-item:last-child::after {
  left: 10em;
  background: #FBD601;
}

.nav-item:last-child:hover:last-child::after {
  left: 0em;
  background: #FBD601;
}

.col-6 {
  width: 65%;
}

.col-6 img {
  width: 100%;
  height: auto;
}

.col-6 img:hover {
  transition: all 0.5s;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


.blink {
  animation: blinker 1.5s linear infinite;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fa-html5:hover {
  color: #E44D26;
  transition: all 200ms;
}

.fa-css3:hover {
  color: #264DE4;
  transition: all 200ms;
}

.fa-js-square:hover {
  color: #FBD601;
  transition: all 200ms;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.carousel-item>img {
  width: 100%;
  height: 450px;
}

main {
  width: 100%;
  height: 1570px;
  display: block;
  margin: 0 auto;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left {
  width: 80%;
  display: block;
  margin-left: 5%;
  float: left;
}

#left img {
  width: 400px;
}

#left p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  font-size: 1.5rem;
}

.row span {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  color: orangered;
}

#left .rounded {
  box-shadow: 10px 20px 20px 10px red;
}

.col-5 {
  width: 25%;
  display: block;
}

.col-5>img:hover {
  transition: all 0.5s;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.box-right {
  width: 65%;
  height: 730px;
  margin: auto;
  position: relative;
  bottom: 30rem;
  left: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container>button {
  position: absolute;
  bottom: 50rem;
}

.card {
  width: 30%;
  height: 40%;
  text-align: center;
  line-height: 1.4;
  margin: 3px;
}

.card-1,
.card-2 {
  line-height: 3;
}

.card-1-body>h5,
.card-2-body>h5,
.card-3-body>h5 {
  color: chartreuse;
}

.list-group {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  margin-right: 100px;
}

article .container {
  width: 200px;
  height: 400px;
  display: flex;
}

article h1 {
  margin-top: 90px;
  margin-right: 200px;
  color: rgba(255, 255, 255, 0.7);
}

article h1:hover {
  transition: all 0.7s;
  color: rgba(255, 255, 255, 1);
}

.wrapper-1 {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card-1 {
  width: 430px;
  height: 430px;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid #E44D26;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-2 {
  width: 430px;
  height: 430px;
  border-radius: 10px;
  border: 1px solid #E44D26;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-3 {
  width: 430px;
  height: 430px;
  border-radius: 10px;
  border: 1px solid #E44D26;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-1:hover {
  box-shadow: 10px 10px 50px 10px #E44D26;
  transition: all 0.5s;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: black;
}

.card-2:hover {
  box-shadow: 10px 10px 50px 10px #E44D26;
  transition: all 0.5s;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: black;
}

.card-3:hover {
  box-shadow: 10px 10px 50px 10px #E44D26;
  transition: all 0.5s;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: black;
}

footer .container {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer>ul {
  display: inline-block;
  text-align: center;
}

footer ul li {
  position: relative;
  display: inline-block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 55px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
  text-align: center;
}

footer ul li:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}

footer ul li:nth-child(1):before {
  background: #4267B2;
}

footer ul li:nth-child(2):before {
  background: #E1306C;
}

footer ul li:nth-child(3):before {
  background: #1DA1F2;
}

footer ul li:nth-child(4):before {
  background: #2867B2;
}

footer ul li:nth-child(5):before {
  background: #ff0000;
}

footer ul li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}

footer ul li:nth-child(1):hover:before {
  box-shadow: 0 0 15px 10px #4267B2;
}

footer ul li:nth-child(2):hover:before {
  box-shadow: 0 0 15px 10px #E1306C;

}

footer ul li:nth-child(3):hover:before {
  box-shadow: 0 0 15px 10px #1DA1F2;
}

footer ul li:nth-child(4):hover:before {
  box-shadow: 0 0 15px 10px #ff0000;
}

footer ul li:nth-child(5):hover:before {
  box-shadow: 0 0 15px 10px #2867B2;

}

footer ul li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px 10px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}

footer ul li:nth-child(2):hover {
  color: #e23670;
  box-shadow: 0 0 15px 10px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}

footer ul li:nth-child(3):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px 10px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}

footer ul li:nth-child(4):hover {
  color: #ff1a1a;
  box-shadow: 0 0 15px 10px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}

footer ul li:nth-child(5):hover {
  color: #2a6cbb;
  box-shadow: 0 0 15px 10px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}

/* ul li:hover{
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
  text-shadow: 0 0 15px #d35400;
} */
.wrapper-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper-2>h3 {
  position: absolute;
  margin-bottom: 150px;
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.7);
  cursor: default;
}

.wrapper-2>h3:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 5px 5px rosybrown;
  transition: all 0.7s;
}

.social-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  color: #7ED321;
}

.social-icon>i {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.social-icon:hover {
  color: #D0021B;
  transition: all 0.5s;
}

.copyright {
  background-color: #1a1d25;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.html-banner1 img {
  width: auto;
  height: 300px;
  margin-top: 20px;
}

.html-header1 h1,
.html-header2 h1,
.html-header3 h1 {
  color: orangered;
}

.html-text1,
.html-text2,
.html-text3,
.css-text1,
.css-text2,
.js-text1,
.js-text2 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

.html-text1 span,
.html-text2 span,
.html-text3 span {
  color: orangered;
  font-weight: bold;
}

.html-banner2 img {
  height: 350px;
  margin-top: 20px;
}

.html-img1 img {
  width: 500px;
  height: 300px;

}

.html-img1 {
  position: relative;
}

.img-text p {
  position: absolute;
  top: 1400px;
  left: 630px;
  line-height: 2;
}

.design1 {
  width: 400px;
  height: 350px;
}

.design2 {
  width: 400px;
  height: 350px;
  float: right;
}

.semantic-1 {
  float: left;
  width: 500px;
}

.semantic-2 {
  width: 500px;
  float: right;
}

.vr {
  border-left: 5px solid #D0021B;
  height: 745px;
  position: absolute;
  left: 53.9%;
  margin-left: -3px;
  top: 50;
}

.hr {
  border-bottom: 5px solid #D0021B;
  width: 605px;
  position: absolute;
  left: 9%;
  margin-left: -3px;
  margin-top: 330px;
}

.semantic-bottom-header {
  margin-top: 370px;
}

.semantic-bottom-header p {
  width: 400px;
  text-align: center;
}

.semantic-img img {
  width: 720px;
  height: 360px;
  margin-left: 170px;
}

.css-banner1 img {
  width: 1100px;
  height: 300px;
  margin-top: 20px;
}

.css-banner2 img {
  width: 1100px;
  height: 300px;
  margin-top: 20px;
}

.css-header1 h1,
.css-header2 h1 {
  color: #264DE4;
}

.css-text1 span,
.css-text2 span,
.css-text2>h2 {
  color: #264DE4;
}

.html-img img {
  width: 300px;
  height: 350px;
  margin-left: 20px;
}

.css3-img img {
  width: 300px;
  height: 350px;
  margin-left: 20px;

}

.css3-img-title {
  margin-left: 330px;
}

.container-cover {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container-cover h5:hover {
  color: rgba(255, 255, 255, 1);
}

.js-banner1 img {
  width: 1100px;
  height: 350px;
  margin-top: 20px
}

.js-header1 h1,
.js-header2 h1 {
  color: #F9D602;
}

.js-text1 span,
.js-text2 span {
  color: #F9D602;
}

.js-banner2 img {
  width: 1100px;
  height: 350px;
  margin-top: 20px
}

.sidebar {
  width: 280px;
  height: 560px;
  max-width: 280px;
  min-width: 280px;
  overflow: auto;
  padding: 20px 0px;
  background: transparent;
  transition: margin-left 300ms ease 0s;
  border-right: 1px solid rgba(28, 28, 33, 0.1);
  position: relative;
}

.sidebar .title {
  color: orangered;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
  font-size: 22px;
}

.sidebar .title-2 {
  color: #264DE4;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
  font-size: 22px;
}

.sidebar ul {
  margin-left: 20px;
}

.sidebar li {
  padding: 5px 0;
  font-weight: bold;
}

.sidebar a {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D0021B;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

.article-content {
  position: absolute;
  top: 150px;
  left: 300px;
}

#html-nedir {
  color: orangered;
  font-weight: bold;
}

#css-nedir {
  color: #264DE4;
  font-weight: bold;
}

.article-content p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.article-content p:hover {
  color: rgba(255, 255, 255, 1);
}

.html-orn70:hover {
  box-shadow: 5px 5px 30px 30px orangered;
  transition: all 0.5s;

}

.table-header {
  display: inline-block;
  margin-left: 400px;
}

.middle-header {
  color: orangered;
}

.middle-header-2 {
  color: #264DE4;
}

.btn-sidebar {
  width: 220px;
}

@media screen and (max-width:500px) and (min-width:100px) {

  .container {
    height: auto;
  }

  #left {
    min-width: 850px;
    height: 100px;
    margin-left: 40px;
    font-size: 14px;
    text-align: center;
  }

  .col-5 {
    min-width: 550px;
    height: 100px;
    text-align: left;
    font-size: 14px;
  }

  .container>.box-right {
    min-width: 300px;
    height: 50px;
    display: block;
    float: left;
    top: 30px;
  }

  .list-group {
    min-width: 300px;
    height: auto;
  }



}